/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-visual {
  width: 100%;
  height: 300px;
  background-color: orange;
}

.main-visual-content {
  width: 350px;
  height: 300px;
  background-color: gold;
}

.main {
  display: flex;
  justify-content: center;
  marin 0 auto;
}

.blog {
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar {
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

